		
body{
background-color:#000000;
padding:20px;
color:#ffffff;
}
.carousel-inner > .item > a > img {
    position-relative;
    min-width: 100%;
    height: 500px;
    
}

.carousel-inner > .item > span {
	top:-500px;
	position:relative;
	left:10%;
	font-size:40px;
	color:#ffffff;
    
}
footer{
	font-size: 15px;
	padding: 30px;
	left: 0;
	color:#ffffff;
	position:absolute;
}

.row{
	padding:20px;
}

iframe{
	max-width:100%;
	height:auto;
}

.img-responsive{
	margin:0 auto;
}

.form-login{
	max-width: 600px;
}
.form-login .btn{
	max-width: 110px;
	max-height:50px;
	padding:15px;
}

