	
body{
background-color:#000000;
padding:20px;
}
.carousel-inner > .item > img {
    position-relative;
    min-width: 100%;
    height: 500px; 
    padding:30px;
    
}
footer{
	bottom:0;
	width:100%;
	font-size: 15px;
	padding: 30px;
	left: 0;	
}

.row{
	padding:20px;
}

iframe{
	max-width:100%;
	height:auto;
}

.img-responsive{
	margin:0 auto;

