body{
	padding-top: 40 px;
	padding-bottom: 40px;
}
.form-login{
	max-width: 330px;
	padding:15px;
	margin: 0 auto;
}

.form-login .form-login-heading{
	margin-bottom: 20px;
}

.form-login .form-control{
	position: relative;
	height: auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 10px;
	font-size:16px;
}

.form-login . form control: focus{
	z-index: 3;
}

.form-login .btn{
	max-width: 100px;
	max-height:50px;
	padding:15px;
	margin: 0 auto;
}
a	
