.inverse-dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}
footer{
	width:300px;
	font-size: 15px;
	padding: 15px;
	color:#ffffff;
	position:fixed;
	bottom:0;
	right:0;
	
}


.inverse-dropdown li a{
	color: #9d9d9d;
}

.inverse-dropdown li a:hover{
	color: #ffffff;
	background: inherit;
}

.navbar-brand > img{
	margin-top: -13px;
	margin-left: 10px;
	height: 45px;
	width: 70px;

}

body{
	background-color:#000000;
	padding:20px;
}

.form-login{
	max-width: 600px;
}
.form-login .btn{
	max-width: 110px;
	max-height:50px;
	padding:15px;
}
h2,h3{
color:#ffffff;
}

h5{
color:#ffffff;
text-align:center;

}
